#left_icon{
    padding-right: 2px;
    margin-right: 0px;
}
#right_icon{
    padding-left: 8px;
}
#left_icon:hover{
    color : white;
    background-color: rgb(211, 207, 207);
}
#right_icon:hover{
    color : white;
    background-color: rgb(211, 207, 207);
}

.goog-logo-link {
    display:none !important;
 }
 
 .goog-te-gadget {
    color: transparent !important;
 }
 
 .goog-te-gadget .goog-te-combo {
    color: rgb(12, 12, 12) !important;
 }

.news_card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
}
